<section class="container">
  <h2 class="title text-center">New Post</h2><hr />

  <form class="new-post-form">
    <div>
      <label class="form-label" for="post-title">Title</label>
      <input
        class="form-control"
        type="text"
        id="post-title"
        name="post-title"
        placeholder="My Post Title"
      />
    </div>
    <div>
      <label class="form-label" for="post-content">Content</label>
      <input
        class="form-control"
        id="post-content"
        name="post-content"
        placeholder="My Post Content"
      />
    </div>
    <button type="submit" class="btn btn-success mt-3">Add New Post
    </button>
  </form>
</section>

<script src="/javascript/add-post.js"></script>