<div class="mb-5 pt-3 container">
    <h2 class="col-12 text-center">Dashboard | My Post</h2><hr>
    {{#if posts.length}}
</div>

{{#each posts as | post|}}
    {{> post-info post}}
{{/each}}

{{else}}
    
<h6 class="text-center">You currently have no post(s)</h6>
<h6 class="text-center">
    <a href="../dashboard/create/">Click here to add a new post</a>
</h6>
{{/if}}


